<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form onsubmit="event.preventDefault()" class="box">
                    <h2>New Group</h2>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <label for="nombre">Name: </label>
                            <input type="text"placeholder="Name" name="nombre">
                          </div>
                          <div class="row">
                            <input type="submit" name="" value="Save" href="#">
                          </div>
                        </div>

                    </div>

                 </form>

            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
