<div class="container">
    <div class="col">
        <div style="margin: 3%; width: 50%;">
            <div class="card">
                <form onsubmit="event.preventDefault()" class="box">
                    <h1>Log in</h1>
                    <p class="text-muted"> Please enter your user and password</p>
                    <input [(ngModel)]="user" type="text" name="user" placeholder="Username">
                    <input [(ngModel)]="password" type="password" name="password" placeholder="Password">
                    <input type="submit" name="login" (click)="login(user, password);">
                 </form>
            </div>
        </div>
    </div>
</div>
