<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form onsubmit="event.preventDefault()" class="box">
          <h2>Insert new  school</h2>
          <hr>
          <div class="card-body">
            <div class="row">
              <div class="row">
                <label for="s_name">Name: </label>
                <input  [(ngModel)]="s_name" type="text" placeholder="Name" name="s_name">
              </div>

              <div class="row">
                <label for="s_registry"> N. School: </label>
                <input [(ngModel)]="s_registry" id="s_registry" type="number" placeholder="School N" name="registry">
              </div>

              <div class="row">
                <label for="school_address">Address: </label>
                <input [(ngModel)]="school_address" type="text" placeholder="Address" name="school_address">
              </div>

              <div class="row">
                <label for="telephone">Phone: </label>
                <input [(ngModel)]="telephone" type="number" placeholder="Telephone" name="telephone">
              </div>

              <div class="row">
                <label for="school_zone">Zone: </label>
                <input [(ngModel)]="school_zone" type="text" placeholder="School zone" name="school_zone">
              </div>

              <div class="row">
                <label for="director">Director: </label>
                <input [(ngModel)]="director" type="text" placeholder="Director" name="director">
                <br>
              </div>
              <div class="row">
                <br>
                <input type="submit" name="" (click)="newSchool(s_name, s_registry, school_address, telephone, school_zone, director)">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
