<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form onsubmit="event.preventDefault()" class="box"> 
                    <h2>Insert new  school</h2>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                              <label for="nombre">Name: </label>
                               <input type="text"placeholder="Name" name="nombre">
                             </div>

                               <div class="col">
                                 <label for="SchoolN"> EDUID: </label>
                                 <input  id="numberS" type="text"placeholder="School N" name="schoolN">
                               </div>

                               <div class="col">
                                    <label for="nombre">Name: </label>
                                    <input type="text"placeholder="Name" name="nombre">
                               </div>

                               <div class="col">
                                 <label for="adress">Adress: </label>
                                  <input type="text"placeholder="adress" name="adress">
                              </div>

                              <div class="col">
                                 <label for="phone">Phone: </label>
                                  <input type="text"placeholder="phone" name="phone">
                             </div>

                            <div class="col">
                                <label for="zone">Zone: </label>
                                 <input type="text"placeholder="zone" name="zone">
                            </div>

                            <div class="col">
                                <label for="director">Director: </label>
                                 <input type="text"placeholder="director" name="director">
                            </div>

                        </div>
                        
                    </div>
                   
                 </form>
              
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form onsubmit="event.preventDefault()" class="box"> 
                    <h2>Insert new  school</h2>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                              <label for="nombre">Names: </label>
                               <input type="text"placeholder="Name" name="nombre">
                             </div>

                               <div class="col">
                                 <label for="SchoolN"> EDUID: </label>
                                 <input  id="numberS" type="text"placeholder="School N" name="schoolN">
                               </div>

                               <div class="col">
                                 <label for="adress">Adress: </label>
                                  <input type="text"placeholder="adress" name="adress">
                              </div>

                              <div class="col">
                                 <label for="phone">Phone: </label>
                                  <input type="text"placeholder="phone" name="phone">
                             </div>

                            <div class="col">
                                <label for="zone">Zones: </label>
                                 <input type="text"placeholder="zone" name="zone">
                            </div>

                            <div class="col">
                                <label for="director">Director: </label>
                                 <input type="text"placeholder="director" name="director">
                            </div>
                            <div class="col ">
                                <br>
                                <input type="submit" name="" value="Save" href="#">
                            </div>

                        </div>
                        
                    </div>
                   
                 </form>
              
            </div>
        </div>


    </div>
</div>
<app-footer></app-footer>